.left-side-bar-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 2px solid black;
  height: 100vh;
  width: 20%;

  a {
    text-decoration: none;
    background-color: lightgreen;
    padding: 7px;
  }

  .active {
    color: blue;
    background-color: green;
  }
}
